---
type Props = {
  developing?: boolean;
};

const { developing } = Astro.props;
---

<div
  class={`
    ${developing ? "col-span-full" : null} 
    flex items-center justify-center gap-1 bg-accent/30 text-white/40 p-3
    cursor-default
  `}
>
  <slot />
</div>
