@import "tailwindcss";

@theme {
  --color-primary: #36A470;
  --color-secondary: #49C38A;
  --color-accent: #04342C;
  --color-foreground: light-dark(#000000, #ffffff);
  --color-background: light-dark(#ffffff, #000000);
}
