---
import { navLinks, socialLinks } from "../../lib/links";
import { NavDropdown } from "./NavDropdown";
import NavItem from "./NavItem.astro";
---

<nav class="flex sticky bg-primary items-center top-0 h-15 z-1">
  <div class="grow h-full">
    <ul class="flex h-full">
      {
        Object.entries(navLinks).map(([label, link]) => (
          <NavItem href={link.href} target={link.target}>
            {label.charAt(0).toUpperCase() + label.slice(1)}
          </NavItem>
        ))
      }
    </ul>
  </div>
  <div class="h-full sm:block hidden">
    <ul class="flex h-full">
      {
        Object.values(socialLinks).map((link) => {
          const Icon = link.Icon;
          return (
            <NavItem href={link.href} target={link.target}>
              {<Icon className="sm:size-10" />}
            </NavItem>
          );
        })
      }
    </ul>
  </div>
  <NavDropdown client:only="react" />
</nav>
