---
import { LinkedIn } from "../svgs/LinkedIn";
import { Github } from "../svgs/Github";
import { Email } from "../svgs/Email";
import NavItem from "./NavItem.astro";

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
];

const socialLinks = [
  {
    href: "#emailCard",
    Icon: Email,
    target: "_self",
  },
  {
    href: "https://github.com/parsmk",
    Icon: Github,
  },
  {
    href: "https://www.linkedin.com/in/parsa-mohtashami-4a4509192/",
    Icon: LinkedIn,
  },
];
---

<nav class="flex sticky bg-primary items-center top-0 h-15 w-vw z-1">
  <div class="grow h-full">
    <ul class="flex h-full">
      {navLinks.map((link) => <NavItem href={link.href}>{link.label}</NavItem>)}
    </ul>
  </div>
  <div class="h-full">
    <ul class="flex h-full">
      {
        socialLinks.map((link) => {
          const Icon = link.Icon;
          return (
            <NavItem href={link.href} target={link.target}>
              {<Icon className="size-10" />}
            </NavItem>
          );
        })
      }
    </ul>
  </div>
</nav>
