---
import { LinkedinIcon as LinkedinSVG } from "../svgs/LinkedinIcon";
import { GithubIcon as GithubSVG } from "../svgs/GithubIcon";
import { EmailIcon } from "../svgs/EmailIcon";
import NavItem from "./NavItem.astro";

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
];

const socialLinks = [
  {
    href: "/contact",
    Icon: EmailIcon,
    iconClass: "size-10",
  },
  {
    href: "https://github.com/parsmk",
    Icon: GithubSVG,
    iconClass: "size-10",
  },
  {
    href: "https://www.linkedin.com/in/parsa-mohtashami-4a4509192/",
    Icon: LinkedinSVG,
    iconClass: "size-10",
  },
];
---

<nav class="flex sticky bg-primary items-center top-0 h-15 w-vw z-1">
  <div class="grow h-full">
    <ul class="flex h-full">
      {navLinks.map((link) => <NavItem href={link.href}>{link.label}</NavItem>)}
    </ul>
  </div>
  <div class="h-full">
    <ul class="flex h-full">
      {
        socialLinks.map((link) => {
          const Icon = link.Icon;
          return (
            <NavItem href={link.href}>
              {<Icon classes={link.iconClass} />}
            </NavItem>
          );
        })
      }
    </ul>
  </div>
</nav>
