---
import RootLayout from "../layouts/RootLayout.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import type { MarkdownInstance } from "astro";
import type { Project } from "../models/Project";

const modules = import.meta.glob<MarkdownInstance<Project>>("./projects/*.md", {
  eager: true,
});
---

<RootLayout pageTitle="PMK Development">
  <div class="flex flex-col h-screen">
    <div class="flex flex-row items-center justify-center grow gap-2">
      <img src="" alt="bg-placeholder" class="absolute inset-0 -z-1" />
      <div
        class="flex flex-col justify-center items-end rounded-tl-full rounded-bl-full bg-secondary/50 size-100 border-r-2 border-r-foreground"
      >
        <div class="w-[80%]">
          <h1 class="font-bold text-5xl text-foreground">PMK Development</h1>
          <h2 class="text-2xl text-foreground/70 my-2">
            Software Engineer, Full-Stack Developer
          </h2>
        </div>
      </div>
      <img class="h-[80%] outline-1" src="" alt="placeholder" />
    </div>
    <Navbar />
  </div>
  <div class="flex min-h-[80vh] bg-accent">
    <div class="grid sm:grid-cols-3 gap-5 mx-auto my-auto w-[75%]">
      {
        Object.values(modules)
          .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
          .map((m) => (
            <ProjectCard {...m.frontmatter}>
              <m.Content />
            </ProjectCard>
          ))
      }
    </div>
  </div>
</RootLayout>
