---
import RootLayout from "../layouts/RootLayout.astro";
import Navbar from "../components/navigation/Navbar.astro";
import ProjectCard from "../components/projects/ProjectCard.astro";
import type { MarkdownInstance } from "astro";
import type { Project } from "../models/Project";
import { EmailCard } from "../components/email-form/EmailCard";
import Hero from "../components/hero/Hero.astro";

const modules = import.meta.glob<MarkdownInstance<Project>>("./projects/*.md", {
  eager: true,
});
---

<RootLayout pageTitle="PMK Development">
  <div class="flex h-screen">
    <Hero />
  </div>
  <Navbar />
  <div class="flex min-h-[100vh] py-20 bg-accent">
    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 mx-auto my-auto w-[75%]"
    >
      {
        Object.values(modules)
          .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
          .map((m) => (
            <ProjectCard {...m.frontmatter}>
              <m.Content />
            </ProjectCard>
          ))
      }
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row min-h-[100vh] gap-5 p-5 bg-white items-center justify-center w-full"
  >
    <img src="" alt="imageofsomething" class="sm:w-[30%]" />
    <EmailCard client:load />
  </div>
</RootLayout>
