---
import type { MarkdownInstance } from "astro";

import RootLayout from "../layouts/RootLayout.astro";

import type { Project } from "../models/Project";
import { EmailCard } from "../components/email-form/EmailCard";
import { NoiseBG } from "../components/noise/NoiseBG";
import Navbar from "../components/navigation/Navbar.astro";
import ProjectCard from "../components/projects/ProjectCard.astro";
import { navLinks } from "../lib/links";
import { socialLinks } from "../lib/links";

const modules = import.meta.glob<MarkdownInstance<Project>>("./projects/*.md", {
  eager: true,
});
---

<RootLayout pageTitle="PMK Development">
  <div id="hero" class="flex h-[200vh] flex-col w-full overflow-clip">
    <NoiseBG client:only="react" />
    <div class="flex flex-row items-center justify-center h-[50%] gap-2">
      <div class="flex flex-col justify-center items-end size-100 z-10">
        <div class="w-[80%]">
          <h1 class="font-bold text-5xl text-white">PMK Development</h1>
          <h2 class="text-2xl text-white/70 my-2">
            Software Engineer, Full-Stack Developer
          </h2>
        </div>
      </div>
      <img src="hero-img.png" class="h-175 z-10" />
    </div>
    <div class="flex items-center justify-center h-[50%] w-0 mx-auto">
      <div id="noise-prompt"></div>
    </div>
  </div>
  <Navbar />
  <div id="projects" class="flex min-h-screen py-20 bg-accent">
    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 gap-5 mx-auto my-auto w-[75%]"
    >
      {
        Object.values(modules)
          .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
          .map((m) => (
            <ProjectCard {...m.frontmatter}>
              <m.Content />
            </ProjectCard>
          ))
      }
    </div>
  </div>
  <div
    class="flex flex-col lg:flex-row min-h-[100vh] gap-5 p-5 bg-white items-center justify-center w-full"
  >
    <img src="" alt="imageofsomething" class="sm:w-[30%]" />
    <EmailCard client:load />
  </div>
  <div
    class="flex flex-col gap-5 border-t-2 border-accent items-center justify-center px-5 pt-5 pb-1 bg-primary text-white"
  >
    <div class="flex gap-5">
      {
        Object.entries(socialLinks).map(([label, link]) => {
          const Icon = link.Icon;
          if (label === "email") return;
          return (
            <a href={link.href} target={link.target}>
              <Icon className="size-10" />
            </a>
          );
        })
      }
    </div>
    <div>{`© ${new Date().getFullYear()} Parsa Mohtashami`}</div>
  </div>
</RootLayout>
