---
import { MarkdownInstance } from "astro/dist/types/public";

import RootLayout from "../layouts/RootLayout.astro";

import type { Project } from "../models/Project";

import { EmailCard } from "../components/email-form/EmailCard";
import { NoiseBG } from "../components/noise/NoiseBG";
import Navbar from "../components/navigation/Navbar.astro";
import ProjectCard from "../components/projects/ProjectCard.astro";

import { socialLinks } from "../lib/links";

const modules = import.meta.glob<MarkdownInstance<Project>>("./projects/*.md", {
  eager: true,
});
---

<RootLayout pageTitle="PMK Development">
  <div id="hero" class="flex h-[200vh] flex-col w-full overflow-clip">
    <NoiseBG client:only="react" />
    <div
      class="flex sm:flex-row flex-col items-center justify-center h-[50%] gap-2"
    >
      <div class="flex flex-col justify-center p-5 sm:items-end z-10">
        <div>
          <h1
            class="font-bold sm:text-5xl text-4xl text-center md:text-left text-white"
          >
            PMK Development
          </h1>
          <h2
            class="sm:text-2xl text-center md:text-left text-xl text-white/70 my-2"
          >
            Software Engineer, Full-Stack Developer
          </h2>
        </div>
      </div>
      <img src="hero-img.png" class="h-[50%] z-10" />
    </div>
    <div class="flex items-center justify-center h-[50%] w-full mx-auto">
      <div id="noise-prompt" class="h-1/2 w-1/2 -z-1"></div>
    </div>
  </div>
  <Navbar />
  <div
    id="projects"
    class="flex flex-col min-h-screen py-20 bg-accent text-white"
  >
    <div class="pb-7.5 px-2 text-center">
      <h2 class="sm:text-5xl text-4xl mb-2">My projects</h2>
      <h3 class="sm:text-2xl text-xl font-thin">
        Have a look at the products I've worked on!
      </h3>
      <hr class="w-[75%] mx-auto border-t-1 border-secondary my-5" />
    </div>
    <div
      class="grid md:grid-cols-2 xl:grid-cols-3 gap-5 mx-auto my-auto w-[75%]"
    >
      {
        Object.values(modules)
          .sort((a, b) => a.frontmatter.order - b.frontmatter.order)
          .map((m) => (
            <ProjectCard {...m.frontmatter}>
              <m.Content />
            </ProjectCard>
          ))
      }
    </div>
  </div>
  <div
    class="grid lg:grid-cols-2 lg:h-screen gap-5 sm:p-20 py-20 px-5 bg-white items-center justify-center w-full"
  >
    <div
      class="bg-[url('/headshot.jpg')] h-full bg-cover bg-no-repeat bg-right rounded-3xl sm:block hidden"
    >
    </div>
    <EmailCard client:load />
  </div>
  <div
    class="flex flex-col gap-5 border-t-2 border-accent items-center justify-center px-5 pt-5 pb-1 bg-primary text-white"
  >
    <div class="flex gap-5">
      {
        Object.entries(socialLinks).map(([label, link]) => {
          const Icon = link.Icon;
          if (label === "email") return;
          return (
            <a href={link.href} target={link.target}>
              <Icon className="size-10" />
            </a>
          );
        })
      }
    </div>
    <div>{`© ${new Date().getFullYear()} Parsa Mohtashami`}</div>
  </div>
</RootLayout>
