---
import LinkedinSVG from "./svgs/LinkedinIcon.astro";
import GithubSVG from "./svgs/GithubIcon.astro";
import EmailIcon from "./svgs/EmailIcon.astro";

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
];

const socialLinks = [
  {
    href: "/contact",
    Icon: EmailIcon,
    iconClass: "size-10",
  },
  {
    href: "https://github.com/parsmk",
    Icon: GithubSVG,
    iconClass: "size-10",
  },
  {
    href: "https://www.linkedin.com/in/parsa-mohtashami-4a4509192/",
    Icon: LinkedinSVG,
    iconClass: "size-10",
  },
];
---

<nav class="sticky top-0 w-vw bg-primary">
  <div class="mx-auto flex w-[75%] bg-secondary rounded-4xl items-center p-5">
    <div class="grow">
      <ul class="flex gap-5">
        {
          navLinks.map((link) => (
            <li>
              <a href={link.href}>{link.label}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <ul class="flex gap-2 items-center">
        {
          socialLinks.map((link) => {
            const Icon = link.Icon;
            return (
              <li>
                <a href={link.href}>{<Icon classes={link.iconClass} />}</a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>
