---
import LinkedinSVG from "./svgs/LinkedinIcon.astro";
import GithubSVG from "./svgs/GithubIcon.astro";
import EmailIcon from "./svgs/EmailIcon.astro";

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/projects", label: "Projects" },
];

const socialLinks = [
  {
    href: "/contact",
    Icon: EmailIcon,
    iconClass: "size-10",
  },
  {
    href: "https://github.com/parsmk",
    Icon: GithubSVG,
    iconClass: "size-10",
  },
  {
    href: "https://www.linkedin.com/in/parsa-mohtashami-4a4509192/",
    Icon: LinkedinSVG,
    iconClass: "size-10",
  },
];
---

<nav class="sticky top-0 w-vw bg-transparent p-2">
  <div
    class="mx-auto flex w-[75%] outline-2 outline-accent bg-primary rounded-4xl items-center py-3 px-10"
  >
    <div class="grow">
      <ul class="flex gap-2">
        {
          navLinks.map((link) => (
            <li>
              <a
                class="block text-accent font-bold py-2 px-4 hover:-translate-y-1 duration-300 rounded-full transition"
                href={link.href}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <ul class="flex gap-2 items-center">
        {
          socialLinks.map((link) => {
            const Icon = link.Icon;
            return (
              <li>
                <a href={link.href}>{<Icon classes={link.iconClass} />}</a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>
