---
import type { Project } from "../models/Project";
import TRArrow from "./svgs/TRArrow.astro";

type Props = Project;

const { name, url, stack } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class={`
    group relative flex flex-col
    w-full h-75 gap-3 p-5 rounded-xl
    outline-2 outline-primary/50
    hover:outline-primary hover:shadow-lg hover:shadow-primary/50
    hover:-translate-y-1
    bg-primary/50 text-white
    transition-all
  `}
>
  <TRArrow
    classes={`
      absolute top-5 right-5
      size-5
      text-primary
      group-hover:-translate-y-1 group-hover:translate-x-1
      transition-all duration-300
    `}
  />
  <h3 class="font-bold text-2xl transition-all duration-300">{name}</h3>
  <div class="font-medium grow">
    <slot />
  </div>
  <div class="border-t-2 border-primary p-1 transition-all duration-300">
    {stack?.join(", ")}
  </div>
</a>
