---
import InputField from "./InputField.astro";
---

<form class="grow">
  <div class="grid grid-cols-2 gap-2 mx-auto py-7">
    <InputField
      label="Email"
      placeholder="barborossa@piratescove.ca..."
      name="email"
      required
    />
    <InputField label="Name" placeholder="Barborossa..." name="name" />
    <div class="col-span-full">
      <InputField
        label="Subject"
        placeholder="re: Black Pearl..."
        name="subject"
        required
      />
    </div>
    <div class="col-span-full">
      <InputField
        label="Body"
        name="body"
        placeholder="Captain Jack Sparrow has stolen my ship!"
        inputClasses="h-50"
        multiline
        required
      />
    </div>
  </div>
  <div class="border-t-1 border-accent items-center flex py-6">
    <p class="text-foreground/60 grow cursor-default">
      Let's make something worth remembering!
    </p>
    <button
      class="p-3 rounded-xl text-white outline-1 outline-accent/50 hover:outline-accent/60 bg-primary/75 cursor-pointer hover:bg-primary transition duration-300"
      >Send Message</button
    >
  </div>
</form>
